@media (max-width: 576px){	

	.home .text h2 {
		font-size: 29px;
		font-weight: 700;
	}
	.home .text h3 {
		font-size: 20px;
	}
	.home .text {
		padding: 200px 10px 200px 14px;
	}
	.navbar-brand {
		color: rgb(44, 73, 100);
		font-size: 25px;
		font-weight: 700;
	}

	.navbar-toggler-icon{
		line-height: 30px;
	}
	.doc_picture img{
		height: 80px;
		width: 80px;
		border-radius: 50%;
	}
	.doctors_list{
		box-shadow: 0px 2px 15px rgb(44 73 100 / 8%);
		padding: 30px;
		border-radius: 10px;
	}
	.gallery-item img{
		padding-bottom: 3px;
	}
	.copy_rights{
		text-align: center;
	}
	.subsc {
		position: absolute;
		right: 9px;
		width: 120px;
	}
	.about:after {
		display: none;
	}
	.align_2 {
		text-align: center;
		/* margin-right: 0; */
		/* position: absolute; */
		right: 0;
		/* padding-top: 251px; */
	}
	.about_img img{
			width: 100%;
			margin-bottom: 30px;
	}
	 /* .d-block{
		display: block !important;
	}
	.d-none{
		display: none !important;
	} */
	/* .head{
		margin: 12px 0;
	} */
	.head1 i p{
		padding: 0 5px;
	}
	.header_btn_small{
		width: 128px;
		padding: 3px 0;
	}
	.owl-carousel .owl-item .testimonial-item img{
		width: 90px;
		border-radius: 10px;
		border: 6px solid #fff;
		
	} 

}

@media (min-width: 576px){
	.doc_picture img{
		height: 80px;
		width: 80px;
		border-radius: 50%;
	}
}
@media (min-width: 768px){

		.about_img{
			background-image: url(../assets/about.jpg);
			background-position: center;
			background-size: cover;
		}
		.about_sub i{
			right: 44%;
		}	

		.doc_picture img {
			height: 150px;
			width: 150px;

		}
		.social a i {
			width: 35px;
			height: 35px;
			font-size: 19px;
			line-height: 35px;
		}
		.navbar-brand {
			color: rgb(44, 73, 100);
			font-size: 30px;
			font-weight: 700;
			padding-left: 21px;
		}
		.owl-carousel .owl-item .testimonial-item img{
			width: 90px;
			border-radius: 10px;
			border: 6px solid #fff;
			
		}

}
@media (min-width: 992px){
	
	.subsc {
		position: absolute;
		right: 68px;
		width: 120px;
	}
	.about:after{
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 43%;
		height: 90%;
		background-image: url(../assets/about.jpg);
		background-size: cover;
		background-position: center;
	}
	.owl-carousel .owl-item .testimonial-item img{
		width: 90px;
		border-radius: 10px;
		border: 6px solid #fff;
		position: absolute;
		top: -2px;
		left: -45px;
	} 
	.testimonial-item h4,.testimonial-item h5,.testimonial-item p{
		padding-left: 60px;
	}

}

@media (min-width: 1200px){

}